/**
 *  共通のスタイルはタグに適用する
 */
body {
  font-family: 游ゴシック体, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", FontAwesome, sans-serif;
  line-height:25px;
  font-size:0.95em;
  background-color: #eee;
  margin: 0;
}
header {
  background-color: #5d8ac1;
}
nav{
  text-align: center;
  padding: 10px;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul li{
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover{
  color: #beceed;
}
main {
  width: 720px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding: 48px;
}
table {
  width: 500px;
  margin: auto;
  border-collapse: collapse;
}
table th, table td {
  border: solid 0.5px #b1b1b1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
}
table thead {
  background-color: #ecf8ff;
  font-weight: 700;
}
select {
  width: 100%;
  border-radius: 2px;
  padding: 8px 48px 8px 8px;
}
footer p {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: gray;
}

/**
 *  個別のスタイルはクラスに適用する
 */
 /* 共通のクラス */
.subtitle {
  font-size: 16px;
  margin-left: 16px;
}
/* 自己紹介部分のクラス */
.profile {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.avator img {
  background-color: #fff;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #fff;
}
.introduction {
  margin-left: 32px;
}
.introduction h3 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 5つの力部分のクラス */
.five-powers {
  background-color: white;
}
.five-powers h3 {
  background-color: #4daec1;
  color: #fff;
  padding: 12px 20px;
}
/* 貯める力のクラス */
.tameru ol {
  background-color: #e1eff4;
  padding-left: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #449e61;
  font-size: 18px;
}
.tameru ol li {
  padding-bottom: 6px;
  padding-top: 6px;
  font-weight: 700;
}
/* 稼ぐ力のクラス */
.kasegu table tr td:nth-of-type(2){
  text-align: right;
}
/* 増やす力のクラス */
.fuyasu tr td input[type="number"] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 8px 0px 8px 8px;
  text-align: right;
}
/* 増やす力のクラス */
.tukau label[for="item"] {
  margin-bottom: 15px;
  display: block;
}
/* 守る力のクラス */
.mamoru-check {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* 使う力のクラス */
.tukau input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family : inherit;
  font-size: 15px;
}
.tukau textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family : inherit;
  font-size: 15px;
}